.cloud/
.storage/
.vscode/
custom_components/
deps/
image/
tts/
www/
.shopping_list.json
home-assistant_v2.db
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
ip_bans.yaml
secrets.yaml
state.tsv
includes/packages/alarm.yaml